.editor-preview pre {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #3f3f3f;
  color: #dcdcdc;
}
.title-line{
  position: relative;
}
.btn-position{
  position: absolute !important;
  right: 0;
  top: 0;
}
